{% extends 'main/layout.html' %}
{% block content %}
<div class="container card-main">
	<div class="col-md-12 text-center">
		<center>
			<div class="card" style="width: 18rem;">
			  <div class="card-header text-left">
			    Categories: <b>{% for category in card.get_related_categories() %}{{ category.name }} {% endfor %}</b>
			  </div>
			  <div class="card-body">
			    <h2 class="card-title"><b>{{ card.translated_word.capitalize() }}</b></h2>
			    <p class="card-text">{{ card.original_word }}</p>
			    <button type="button" class="btn btn-link" style="text-decoration: none;">&#128578; {% if card.vote_yes %}{{ card.vote_yes }}{% else %}0{% endif %}</button>
			    <button type="button" class="btn btn-link" style="text-decoration: none;">&#128533; {% if card.vote_no %}{{ card.vote_no }}{% else %}0{% endif %}</button> 
			  </div>
			</div>
			<br>
			    <a type="button" class="btn btn-info" href="{{ url_for('random_word') }}">Get new random</a>
		</center>
	</div>
</div>
{% endblock %}