{% extends 'main/layout.html' %}
{% block content %}
<div class="container card-main">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
			  <h1 class="display-4">{{ category.name }}</h1>
			  {% if category.description %}
			  {{ category.description }}
			  {% else %}
			  	<p>No description about category.</p>
			  {% endif %}
			  <p class="lead">
			    <a class="btn btn-primary btn-lg" href="{{ url_for('category_words', category_id=category.id, page=1) }}" role="button">Learn words</a>
			    <a class="btn btn-primary btn-lg" href="{{ url_for('category_words', category_id=category.id, page=1, exam=1) }}" role="button">Check yourself (sr -> ru)</a>
			    <a class="btn btn-primary btn-lg" href="{{ url_for('category_words', category_id=category.id, page=1, exam=2) }}" role="button">Check yourself (ru -> sr)</a>
			  </p>
		</div>
		</div>
	</div>
</div>
{% endblock %}