{% extends 'main/layout.html' %}
{% block content %}
<div class="container card-main">
	<div class="col-md-12 text-center">
		<center>
			<div class="alert alert-primary" role="alert"  style="width: 18rem;">
			  Word: {{ cards.page }} of {{ cards.total }}
			</div>
		</center>
		
		{% for card in cards.items %}
		<center>
			<div class="card" style="width: 18rem;">
			  <div class="card-header text-left">
			    Categories: <b>{% for category in card.get_related_categories() %}{{ category.name }} {% endfor %}</b>
			  </div>
			  <div class="card-body">
			    <h2 class="card-title"><b>{{ card.translated_word.capitalize() }}</b></h2>
			    <p class="card-text {% if exam == 1 %}hide-word{% endif %}">{{ card.original_word }}</p>
			    <p class="card-text {% if exam == 0 %}hide-word{% endif %}"><button type="button" class="btn btn-primary open-word">Open word</button></p>
			    <button type="button" class="btn btn-link vote" data-card-id="{{ card.id }}"
			    data-card-vote="1" style="text-decoration: none;">&#128578; <span class="vote-{{ card.id }}">{% if card.vote_yes %}{{ card.vote_yes }}{% else %}0{% endif %}</span></button>
			    <button type="button" class="btn btn-link vote" data-card-id="{{ card.id }}"
			    data-card-vote="0" style="text-decoration: none;">&#128533; <span class="vote-{{ card.id }}">{% if card.vote_no %}{{ card.vote_no }}{% else %}0{% endif %}</span></button> 
			  </div>
			</div>
			<br>
			    {% if cards.has_prev %}
			    	<a type="button" class="btn btn-info" href="{{ url_for('card.category_words', category_id=category_id, page=cards.prev_num) }}">Prev</a>
			    {% endif %}
			    {% if cards.has_next %}
				    {% if exam %}
				    	<a type="button" class="btn btn-info" href="{{ url_for('card.category_words', category_id=category_id, page=cards.next_num, exam=exam) }}">Next</a>
				    {% else %}
				    	<a type="button" class="btn btn-info" href="{{ url_for('card.category_words', category_id=category_id, page=cards.next_num) }}">Next</a>
				    {% endif %}
			    {% else %}
			    	<a type="button" class="btn btn-info" href="{{ url_for('card.category', category_id=category_id) }}">Finish</a>
			    {% endif %}
		</center>
		{% endfor %}
	</div>
</div>
{% endblock %}