{% extends 'main/layout.html' %}
{% block content %}
<div class="container card-main">
	<div class="col-md-12 text-center">
		<center>
			<div class="alert alert-primary" role="alert"  style="width: 28rem;">
			  Слово: {{ cards.page }} из {{ cards.total }}
			</div>
		</center>
		
		{% for card in cards.items %}
		<center>
			<div class="card" style="width: 28rem;">
			  <div class="card-header text-left">
			    Категории: <b>{% for category in card.get_related_categories() %}{{ category }}{% endfor %}</b>
			  </div>
			  <div class="card-body">
			    <h2 class="card-title"><b>{{ card.original_word }}</b></h2>
			    <p class="card-text {% if exam == 2 %}hide-word{% endif %}">{{ card.translated_word.capitalize() }}</p>
			    <p class="card-text {% if exam == 0 %}hide-word{% endif %}"><button type="button" class="btn btn-primary open-word">Open word</button></p>
			    <button type="button" class="btn btn-link vote" data-card-id="{{ card.id }}"
			    data-card-vote="1" style="text-decoration: none;">&#128578; <span id="positive" class="vote-{{ card.id }}">{{ card.vote_yes(current_user.id) }}</span></button>
			    <button type="button" class="btn btn-link vote" data-card-id="{{ card.id }}"
			    data-card-vote="0" style="text-decoration: none;">&#128533; <span id="negative" class="vote-{{ card.id }}">{{ card.vote_no(current_user.id) }}</span></button>  
			  </div>
			</div>
			<br>
			    {% if cards.has_prev %}
					 {% if exam %}
				    	<a type="button" class="btn btn-info" href="{{ url_for('card.category_words', category_id=category_id, page=cards.prev_num, exam=exam) }}">Предыдущее</a>
				    {% else %}
				    	<a type="button" class="btn btn-info" href="{{ url_for('card.category_words', category_id=category_id, page=cards.prev_num) }}">Предыдущее</a>
				    {% endif %}
			    {% endif %}
			    {% if cards.has_next %}
				    {% if exam %}
				    	<a type="button" class="btn btn-info" href="{{ url_for('card.category_words', category_id=category_id, page=cards.next_num, exam=exam) }}">Следующее</a>
				    {% else %}
				    	<a type="button" class="btn btn-info" href="{{ url_for('card.category_words', category_id=category_id, page=cards.next_num) }}">Следующее</a>
				    {% endif %}
			    {% else %}
			    	<a type="button" class="btn btn-info" href="{{ url_for('card.category', category_id=category_id, finish=True) }}">Закончить</a>
			    {% endif %}
		</center>
		{% endfor %}
	</div>
</div>
{% endblock %}