{% extends 'main/layout.html' %}
{% block content %}
<div class="container card-main">
	<div class="col-md-12 text-center">
		<center>
			<div class="card" style="width: 28rem;">
			  <div class="card-header text-left">
			    Категории: <b>{% for category in card.get_related_categories() %}{{ category }}{% endfor %}</b>
			  </div>
			  <div class="card-body">
			    <h2 class="card-title"><b>{{ card.translated_word.capitalize() }}</b></h2>
			    <p class="card-text">{{ card.original_word }}</p>
			    <button type="button" class="btn btn-link vote" data-card-id="{{ card.id }}"
			    data-card-vote="1" style="text-decoration: none;">&#128578; <span id="positive" class="vote-{{ card.id }}">{{ card.vote_yes(current_user.id) }}</span></button>
			    <button type="button" class="btn btn-link vote" data-card-id="{{ card.id }}"
			    data-card-vote="0" style="text-decoration: none;">&#128533; <span id="negative" class="vote-{{ card.id }}">{{ card.vote_no(current_user.id) }}</span></button> 
			  </div>
			</div>
			<br>
			    <a type="button" class="btn btn-info" href="{{ url_for('card.random_word') }}">Новое случайное слово</a>
		</center>
	</div>
</div>
{% endblock %}